{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block navbar %}
    {{ include('_navbar.html.twig') }}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'my-custom-form-class'}}) }}

    <div class="mb-3">
        {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.text, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.tags, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" class="form-control" id="tags"/>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>

    {{ form_end(form) }}

{% endblock %}
