{% extends 'base.html.twig' %}

{% block title %}GigaForum{% endblock %}
{% block navbar %}
    {{ include('_navbar.html.twig') }}
    <a href="{{ path('app_forum') }}" class="text-decoration-none text-reset m-2 text-center"><h1>Go back to Home</h1></a>

{% endblock %}
{% block body %}
    <h1>{{ board.name }}</h1>
    {% for post in board.posts %}
        {{ include('_post.html.twig') }}
    {% endfor %}

{% endblock %}

{% block hotposts %}
    {{ include('_hotposts.html.twig') }}
{% endblock %}
