{% extends 'base.html.twig' %}

{% block title %}GigaForum{% endblock %}
{% block navbar %}
    {{ include('_navbar.html.twig') }}
{% endblock %}
{% block body %}
    {% for board in boards %}
    <div class="card mb-2 shadow-sm">
        <a href="{{ path('app_board', {'board': board.id}) }}" class="text-decoration-none text-primary-emphasis">
            <h1 class="bg:bs-red-700">{{ board.name }}</h1>
        </a>
        <ul>
            {% for post in board.posts %}
                <div>
                    <h2>{{ post.title }}</h2>

                </div>
                <div>
                    {{ post.text }}
                </div>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

{% endblock %}

{% block hotposts %}
    {{ include('_hotposts.html.twig') }}
{% endblock %}
