{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block navbar %}
    {{ include('_navbar.html.twig') }}
    <a href="{{ path('app_forum') }}" class="text-decoration-none text-reset m-2 text-center"><h1>Go back to Home</h1></a>
{% endblock %}
{% block body %}
    {% if posts| length > 0 %}
    {% for post in posts %}
        <h5>{{ post.board.name }}</h5>
        {{ include('_post.html.twig', {'post': post, 'board': post.board}) }}
    {% endfor %}
    {% else %}
    <h5>No posts found for {{ app.request.get('searchphrase') }}.</h5>
    {% endif %}

{% endblock %}

{% block hotposts %}
    {{ include('_hotposts.html.twig') }}
{% endblock %}
